In [2]:
import pandas as pd

In [123]:
txtfile = pd.read_table("C:\\Users\\Alvins\\Desktop\\AI CAT\\input1.txt",sep=" ")

In [124]:
txtfile

       Source Destination      0
0     Nairobi       Diani     63
1       Diani     Mombasa    116
2       Diani       Beach    153
3       Diani       Pwani    291
4     Mombasa       Beach    132
5     Mombasa      Kilifi    234
6       Beach      Shanzu    148
7       Beach         Voi    165
8      Shanzu       Pwani    166
9       Pwani        Lamu    204
10       Lamu        Athi    119
11       Athi      Shanzu    125
12     Kilifi      Watamu     69
13        Voi     Nairobi    185
14    Nairobi      Kilifi    221
15    Nairobi    Machakos    222
16       Athi    Machakos    263
17     Kilifi       Emali    350
18      Emali     Nairobi    177
19      Emali     Mwatate    143
20    Mwatate    Wundanyi     71
21   Wundanyi     Nairobi    200
22   Wundanyi     Samburu    215
23   Wundanyi    Machakos    207
24   Machakos     Samburu    171
25     Dololo   Mariakani     84
26  Mariakani       Nyali     85
27  Mariakani       Diani    117
28        END          OF  INPUT

In [2]:
!python AICAT1.py input1.txt Nairobi Beach

CODE SUCCESSFUL
THE SHORTEST DISTANCE IS
216
Nairobi to Diani,63

Diani to Beach,153